body{
    background-color:black;
    
}
header{
    font-family: cursive;
    font-size: 12px;
    text-align: center;
}
.box{
    float: left;
    width: 20%;
    display: block;
    padding: 10px;
    overflow: hidden;
    border-radius: 100px;
}
main{
    margin-left: 120px;
    padding-left: 12px;
}
img{
    width: 100%;
    border-radius: 100px;
}
img:hover{
    transform: scale(2)
    
}